@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato:wght@400;700&family=Poppins&display=swap');
@import url("https://fonts.cdnfonts.com/css/cocogoose");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.main-header {
  display: block;
}

#header-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0 8%;
}

.header-item {
  padding: 10px 16px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}

.header-item a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s ease;
}

.mobile-nav {
  display: block;
}

.hamburger {
  display: block;
  cursor: pointer;
  margin-left: 80%;
  color: #000;
  margin-top: -40px;
  z-index: 5;
  position: fixed;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  z-index: 999;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.desktop-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
  gap: 2em;
  padding-left: 30px;
  transform: translateX(100%);
  transition: 0.7s;
  background-color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.desktop-nav.active {
  transform: translateX(0%);
}

.nav-items a {
  text-decoration: none;
  color: #000;
}

.nav-items {
  list-style: none;
  padding: 5px 16px;
  font-size: 20px;
  color: #000;
}

.header {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  border: 1px solid #272a31;
  font-size: 40px;
  padding-left: 10px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.subtitle {
  margin-top: 40px;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
  font-size: 32px;
  padding: 5px 16px;
  background-image: url(./images/oreclor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 20%;
  font-family: 'Lato', sans-serif;
  -webkit-text-fill-color: rgb(0, 0, 0, 0%);
  -webkit-background-clip: text;
  color: transparent;
  align-self: center;
  max-width: 900px;
}

.header h1 {
  margin-left: 0;
  width: 100%;
  font-size: 65px;
  padding: 5px 16px;
  background-image: url(./images/oreclor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 20%;
  font-family: 'Lato', sans-serif;
  -webkit-text-fill-color: rgb(0, 0, 0, 0%);
  -webkit-background-clip: text;
  color: transparent;
  align-self: center;
  max-width: 900px;
}

.main p {
  color: #fff;
}

.main-list p {
  padding: 10px;
  margin: 10px 0;
  text-align: start;
  color: #d3d3d3;
}

#header-text p {
  font-size: 20px;
  text-align: start;
  background-color: #d3d3d3;
  border: 3px solid #fff;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 8px;
  box-shadow:
    0 5px 5px rgba(222, 222, 222, 0.82),
    0 5px 5px rgba(222, 222, 222, 0.82);
}

#header-date {
  font-weight: 700;
  margin-left: 20px;
  font-size: 25px;
  color: #fff;
}

.header h6 {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  width: 80%;
}

.main-container {
  background-color: #000;
  justify-content: center;
  text-align: center;
  border: 1px solid #000;
}

.main-container h2 {
  text-align: center;
  color: #fff;
  margin: 20px;
  margin-top: 20px;
  padding: 20px 0;
}

.main-list {
  display: flex;
  flex-direction: row;
  background-color: #272a31;
  z-index: 1;
  border: 2px solid #272a31;
  width: 96%;
  margin: 10px 2%;
}

.main-list img {
  width: 100px;
}

.main-list span {
  color: #ec5242;
  padding: 25px 10px;
  margin: 10px 0;
}

.main-list:hover {
  border: 3px solid #fff;
  transition: 0.8s all ease-out;
  box-shadow:
    0 5px 10px rgba(222, 222, 222, 0.82),
    0 5px 10px rgba(222, 222, 222, 0.82),
    0 5px 10px rgba(222, 222, 222, 0.82),
    0 5px 10px rgba(222, 222, 222, 0.82);
  cursor: pointer;
}

#main-btn {
  width: 200px;
  height: 50px;
  margin: 10px;
  text-align: center;
  justify-content: center;
}

#link {
  display: none;
}

#mobile-link {
  margin: 10px;
  width: 200px;
  height: 50px;
  background-color: #ec5242;
}

.mobile-speakers h3 {
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  color: #272a31;
}

.cite-quote {
  margin: 20px 8px;
  padding: 10px 8px;
  align-items: center;
}

.project-section li {
  list-style: none;
}

#anchor {
  font-size: 20px;
  font-weight: 700;
}

#subtext {
  color: #ec5242;
}

.text-title {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.all-viewmore {
  margin-top: 10px;
  padding-top: 10px;
}

.all-viewmore h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.mobile-speakers {
  display: block;
  margin-bottom: 25px;
  width: 100%;
}

.speak-dir {
  padding: 0 20px;
}

.view-more {
  display: flex;
  margin-top: 15px;
}

.view-more img {
  width: 150px;
  height: 200px;
  margin-right: 10px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.view {
  display: none;
}

#mobile-link1 {
  margin: 30px 5% 10px 5%;
  width: 90%;
  height: 40px;
  background-color: #fff;
  border: 1px solid #d3d3d3;
}

.partners {
  font-size: 30px;
  font-weight: 700;
  width: 100%;
  padding: 30px;
  color: #d3d3d3;
  background-color: #272a31;
}

.partners h4 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.partner-container {
  display: flex;
  margin: 0 30px 0 30px;
  justify-content: center;
}

.partner-container li {
  list-style: none;
  color: #d3d3d3;
  padding: 20px;
}

.footer-container {
  background-color: #d3d3d3;
  padding: 0 30px 0 30px;
  justify-content: center;
  text-align: center;
  display: flex;
}

.footer-container img {
  width: 200px;
  height: 150px;
}

.sub-container {
  padding: 30px;
}

@media only screen and (min-width: 768px) {
  .desktop-nav {
    position: relative;
    display: flex;
    transform: translateX(10px);
    flex-direction: row;
    background-image: none;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 1.5em;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .main-header {
    background-color: #272a31;
  }

  .nav-menu {
    display: flex;
    padding: 0 5%;
  }

  .desktop-nav li {
    margin-left: 20px;
  }

  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .header {
    font-size: 40px;
    padding-left: 30px;
  }

  .subtitle {
    font-size: 35px;
    margin-left: 30px;
    margin-top: 80px;
  }

  .header h1 {
    font-size: 55px;
    margin-left: 30px;
    margin-top: 10px;
  }

  #header-text {
    width: 70%;
    margin-left: 30px;
    margin-bottom: 20px;
  }

  #header-date {
    margin-left: 50px;
    font-size: 40px;
  }

  .header h6 {
    margin-left: 50px;
  }

  .main-container {
    height: auto;
    width: 100%;
  }

  .main {
    display: flex;
    flex-direction: row;
    margin: 20px 5%;
  }

  .logo {
    background-color: #272a31;
  }

  .main-list {
    display: flex;
    flex-direction: column;
    margin: 5px;
    text-align: start;
    align-items: center;
    padding: 10px 0;
  }

  .main-list p {
    text-align: center;
  }

  #mobile-link {
    display: none;
  }

  #link {
    justify-content: center;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: row;
  }

  .all-viewmore h3 {
    text-align: center;
  }

  .mobile-speakers {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .speak-dir {
    width: 96%;
    margin: 10px 2%;
  }

  .cite-quote {
    width: 50%;
    margin: 20px 0;
  }

  .view {
    display: flex;
  }

  #mobile-link1 {
    display: none;
  }

  #mobile-btn {
    display: none;
  }

  .partners {
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    padding: 30px;
    color: #d3d3d3;
    background-color: #272a31;
  }

  .partners h4 {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .partner-container {
    display: flex;
    margin: 0 30px 0 30px;
    gap: 80px;
    justify-content: center;
  }

  .partner-container li {
    list-style: none;
    color: #d3d3d3;
    padding: 20px;
  }

  .footer-container {
    background-color: #d3d3d3;
    padding: 0 30px 0 30px;
    gap: 80px;
    justify-content: center;
    text-align: center;
    display: flex;
  }

  .footer-container img {
    width: 120px;
    height: 80px;
  }

  .sub-container {
    padding: 30px;
  }
}
